/* reset css */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
}

.clear {
  clear: both;
}

/* header */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background-color: #000;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.header__logo-img {
  position: relative;
  top: 10px;
  width: 40px;
  margin-left: 60px;
}

.nav-list {
  margin: 0 60px;
  display: flex;
  justify-content: center;
  /* float: left; */
}

/* .nav-item  {
  padding: 21px 0px 21px;
  display: inline-block;
  width: 109px;
  text-align: center;
  cursor: pointer;
} */

.nav-item:hover {
  background-color: rgba(204, 204, 204, 0.674);
}

.nav-item__link {
  padding: 21px 0 21px;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  width: 108px;
  color: #fff;
  text-align: center;
}

.nav-btn {
  display: flex;
  align-items: center;
}
.nav-btn__cart {
  position: relative;
  margin: 0 10px;
  cursor: pointer;
}
.cart__quantity {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #ff361d;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 10px;
    line-height: 14px;
    font-weight: 600;
    width: 14px;
    height: 14px;
    text-align: center;
}
.nav-btn__search {
  margin: 0 10px;
  cursor: pointer;
}
.nav-icon {
  display: block;
  padding: 12px;
  color: #fff;
  font-size: 18px;
  background-color: #2f3033;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.nav-btn__login {
  background-color: #2f3033;
  margin: 0 20px 0;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}
.login__link {
  color: #fff;
}

/* layout */
.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.grid__full-width {
  width: 100%;
}
.grid__row {
  display: flex;
  flex-wrap: wrap;
}
.grid__col--4 {
  width: 25%;
}
.grid__col--2 {
  width: 50%;
}
/* footer */
.footer {
  background-color: #000;
  padding: 50px 0;
}
.footer__heading {
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  padding-bottom: 8px;
}
.footer__list {
}
.footer__item {
  padding-bottom: 6px;
}
.footer__item-link {
  color: #fff;
  font-size: 13px;
}
.footer__item-link:hover {
  color: #0071e3;
}
.footer__copyright {
  display: flex;
  justify-content: center;
  height: 20px;
  background-color: #000;
}
.footer__copyrigh-text {
  color: #fff;
  font-size: 12px;
}
