/* reset css */
* {

    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

.clear {
    clear: both;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    background-color: #000;
    height: 60px;

}

#head {
    position: fixed;
    /* max-height: 60px; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 0 auto;
}

#head #taonon-logo {
    width: 103px;
    /* height: 35px; */
}

#head #taonon-logo a img {
    height: 60px;
    margin-left: 60px;
}

#nav {
    margin: 0 60px;
    float: left;
}

#nav li {
    padding: 21px 0px 21px;
    display: inline-block;
    width: 109px;
    text-align: center;
    cursor: pointer;
}

#nav li:hover {
    background-color: rgba(204, 204, 204, 0.674);
}

#nav li a {
    text-decoration: none;
}

#nav li a span {
    font-size: 14px;
    color: #fff;
    /* line-height: 60px; */
}


#search-btn {
    float: right;
    background-color: #2f3033;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-top: 12px;
    margin-right: 12px;
    display: inline-block;
    cursor: pointer;

}

#search-btn .search-icon {
    padding: 12px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
}

#cart-btn {
    float: right;
    background-color: #2f3033;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-top: 12px;
    margin-right: 12px;
    display: inline-block;
    cursor: pointer;
}

#cart-btn .cart-icon {
    padding: 12px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
}

/* slider */
#slider img {
    margin-top: 60px;
    /* position: relative; */
    width: 100%;
}


/* policy */
#policy {
    background-color: #323232;
}

#policy .pr-policy {
    display: block;
    overflow: hidden;
    background: #323232;
    text-align: center;
    padding: 25px 0;
    max-width: 1440px;
    min-width: 1024px;
    margin: auto;
}

#policy .pr-policy li {
    color: #fff;
    display: inline-block;
    vertical-align: top;
    width: 24%;
}

#policy .pr-policy li i {
    display: block;
    margin: 0 auto 15px;
    font-size: 35px;
}


/* choose cate */
#wrapper-product {
    background-color: rgba(51, 51, 51, 0.922);
    overflow: hidden;
    /* height: 1000px; */

}

#choose-category-box {
    margin: 50px 117px 80px;
}

#choose-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto 80px;
    max-width: 1200px;
    min-width: 1024px;
    width: 100%;
    margin-top: 50px;
}

.choose-category li {
    float: left;
    width: 15%;
    margin: 0 10px;
    border-radius: 12px;
    background: #323232;
    height: 220px;
    position: relative;
}

.choose-category li a {
    width: 180px;
    overflow: hidden;
    display: block;
}

.choose-category li a span {
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}

.choose-category .img-cate {
    margin: 45px auto 0;
}

.choose-category .img-cate img {
    width: 100%;
}

.choose-category .img-category-iphone {
    width: 93px;
}

.choose-category .img-category-mac {
    width: 166px;
}

.choose-category .img-category-ipad {
    width: 116px;
}

.choose-category .img-category-watch {
    width: 132px;
}

.choose-category .img-category-sound {
    width: 169px;
}

.choose-category .img-category-acessory {
    width: 96px;
}






/* product cate*/
.box-product-slide {
    display: block;
    text-align: center;
}
.box-product-slide .slide-cate {
    
}
.box-product-slide .slide-cate .slide-cate-product {
    overflow: hidden;
    margin: 50px 117px 100px;
    width: 100%;
    
}
.slide-cate li {
    width: 280px;
    background: #323232;
    float: left;
    margin: 0 12.5px;
    border-radius: 24px;
    padding-bottom: 30px;
}
.box-product-slide .slide-cate li a {
    color: #fff;
}
.slide-cate-product .product-img {
    padding-top: 15px;
    width: 250px;
    margin:15px;
}
.box-product-slide .slide-cate li a .name-product {
    font-size: 15px;
    margin: 15px 0;
}
.box-product-slide .slide-cate li a .product-price {
    font-size: 18px;
} 



footer {
    background-color: #000;
}
#footer .list-footer li span
#footer .list-footer li span{
    color: white;
    display: inline-block;
}